# -*- coding: utf-8 -*-
"""
Created on Wed Nov 15 22:02:55 2023

@author: allan
"""

div.css-st-emotion-cache-ffhzg2 {
    background: rgb(38 85 181);
}

.stApp > header {
    background-color: transparent;
}

.stApp {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, #4f2991 3%, #7dc4ff 38%, #36cfcc 68%, #a92ed3 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}
